#buttons {
    border: 1px solid black;
    background: #D0D0D0;
    padding: 2px;
    display: block;
    width: 300px;
}

table {
    font-family: "Helvetica", "Lucida Sans", "Lucida Sans unicode", "Luxi Sans", Arial, sans-serif;
}