#buttons {
    border: 1px solid black;
    background: #D0D0D0;
    padding: 2px;
    float: right;
    display: block;
    clear: both;
    position: fixed;
    right: 5px;
    top: 35px;
}

#Last_times {
    font-family: "Helvetica", "Lucida Sans", "Lucida Sans Unicode", "Luxi Sans", Tahoma, sans-serif;
}

table {
    font-family: "Helvetica", "Lucida Sans", "Lucida Sans Unicode", "Luxi Sans", Tahoma, sans-serif;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    border-collapse: collapse;
    border-spacing: 0;
}

table, td, th {
    padding: 5px;
    text-align: center;
    border: 1px solid black;
}