div, span, p, td {
        font-family: Arial, sans-serif;
}
#buttons {
    font-family: Arial, sans-serif;
    font-size: 0.8em;
    border: 1px solid black;
    background: #D0D0D0;
    padding: 2px;
    display: block;
    width: 250px;
}
h1 {
    font-family: Arial, sans-serif;
    font-size: 1em;
    display: inline;
}
table {
    font-family: Arial, sans-serif;
    font-size: 0.8em;
}

/* This css is mostly taken from rickshaw's examples */
.container {
    box-sizing: border-box;
    width: 900px;
    height: 120px;
}
.placeholder {
    width: 100%;
    height: 100%;
    font-size: 10px;
    line-height: 1.2em;
    padding: 20px;
}
.rickshaw_legend .swatch {
        width: 10px;
        height: 10px;
        border: 1px solid rgba(0, 0, 0, 0.2);
}
.rickshaw_legend .line .swatch {
        display: inline-block;
        margin-right: 3px;
        border-radius: 2px;
}
.rickshaw_legend ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin: 2px;
}
.rickshaw_legend ul li {
    display: inline;
    padding: 5px;
}

.rickshaw_graph {
        position: relative;
}
.rickshaw_graph svg {
        display: block;
        overflow: hidden;
}
.rickshaw_graph .x_tick {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 0px;
        border-left: 1px dotted rgba(0, 0, 0, 0.2);
        pointer-events: none;
}
.rickshaw_graph .x_tick .title {
        position: absolute;
        font-size: 12px;
        font-family: Arial, sans-serif;
        opacity: 0.5;
        white-space: nowrap;
        margin-left: 3px;
        bottom: 1px;
}
.rickshaw_graph .y_axis,
.rickshaw_graph  .x_axis_d3 {
        fill: none;
}
.rickshaw_graph .y_ticks .tick line,
.rickshaw_graph .x_ticks_d3 .tick {
        stroke: rgba(0, 0, 0, 0.16);
        stroke-width: 2px;
        shape-rendering: crisp-edges;
        pointer-events: none;
}
.rickshaw_graph .y_grid .tick,
.rickshaw_graph .x_grid_d3 .tick {
        z-index: -1;
        stroke: rgba(0, 0, 0, 0.20);
        stroke-width: 1px;
        stroke-dasharray: 1 1;
}
.rickshaw_graph .y_grid .tick[data-y-value="0"] {
        stroke-dasharray: 1 0;
}
.rickshaw_graph .y_grid path,
.rickshaw_graph .x_grid_d3 path  {
        fill: none;
        stroke: none;
}
.rickshaw_graph .y_ticks path,
.rickshaw_graph .x_ticks_d3 path {
        fill: none;
        stroke: #808080;
}
.rickshaw_graph .y_ticks text,
.rickshaw_graph .x_ticks_d3 text {
        opacity: 0.5;
        font-size: 12px;
        pointer-events: none;
}
.rickshaw_graph .x_tick.glow .title,
.rickshaw_graph .y_ticks.glow text {
        fill: black;
        color: black;
        text-shadow:
                -1px 1px 0 rgba(255, 255, 255, 0.1),
                1px -1px 0 rgba(255, 255, 255, 0.1),
                1px 1px 0 rgba(255, 255, 255, 0.1),
                0px 1px 0 rgba(255, 255, 255, 0.1),
                0px -1px 0 rgba(255, 255, 255, 0.1),
                1px 0px 0 rgba(255, 255, 255, 0.1),
                -1px 0px 0 rgba(255, 255, 255, 0.1),
                -1px -1px 0 rgba(255, 255, 255, 0.1);
}
.rickshaw_graph .x_tick.inverse .title,
.rickshaw_graph .y_ticks.inverse text {
        fill: white;
        color: white;
        text-shadow:
                -1px 1px 0 rgba(0, 0, 0, 0.8),
                1px -1px 0 rgba(0, 0, 0, 0.8),
                1px 1px 0 rgba(0, 0, 0, 0.8),
                0px 1px 0 rgba(0, 0, 0, 0.8),
                0px -1px 0 rgba(0, 0, 0, 0.8),
                1px 0px 0 rgba(0, 0, 0, 0.8),
                -1px 0px 0 rgba(0, 0, 0, 0.8),
                -1px -1px 0 rgba(0, 0, 0, 0.8);
}
.rickshaw_graph .detail {
        pointer-events: none;
        position: absolute;
        top: 0;
        z-index: 2;
        background: rgba(0, 0, 0, 0.1);
        bottom: 0;
        width: 1px;
        transition: opacity 0.25s linear;
        -moz-transition: opacity 0.25s linear;
        -o-transition: opacity 0.25s linear;
        -webkit-transition: opacity 0.25s linear;
}
.rickshaw_graph .detail.inactive {
        opacity: 0;
}
.rickshaw_graph .detail .item.active {
        opacity: 1;
}
.rickshaw_graph .detail .x_label {
        font-family: Arial, sans-serif;
        border-radius: 3px;
        padding: 6px;
        opacity: 0.5;
        border: 1px solid #e0e0e0;
        font-size: 12px;
        position: absolute;
        background: white;
        white-space: nowrap;
}
.rickshaw_graph .detail .x_label.left {
        left: 0;
}
.rickshaw_graph .detail .x_label.right {
        right: 0;
}
.rickshaw_graph .detail .item {
        position: absolute;
        z-index: 2;
        border-radius: 3px;
        padding: 0.25em;
        font-size: 12px;
        font-family: Arial, sans-serif;
        opacity: 0;
        background: rgba(0, 0, 0, 0.4);
        color: white;
        border: 1px solid rgba(0, 0, 0, 0.4);
        margin-left: 1em;
        margin-right: 1em;
        margin-top: -1em;
        white-space: nowrap;
}
.rickshaw_graph .detail .item.left {
        left: 0;
}
.rickshaw_graph .detail .item.right {
        right: 0;
}
.rickshaw_graph .detail .item.active {
        opacity: 1;
        background: rgba(0, 0, 0, 0.8);
}
.rickshaw_graph .detail .item:after {
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border: 5px solid transparent;
}
.rickshaw_graph .detail .item.left:after {
        top: 1em;
        left: -5px;
        margin-top: -5px;
        border-right-color: rgba(0, 0, 0, 0.8);
        border-left-width: 0;
}
.rickshaw_graph .detail .item.right:after {
        top: 1em;
        right: -5px;
        margin-top: -5px;
        border-left-color: rgba(0, 0, 0, 0.8);
        border-right-width: 0;
}
.rickshaw_graph .detail .dot {
        width: 4px;
        height: 4px;
        margin-left: -3px;
        margin-top: -3.5px;
        border-radius: 5px;
        position: absolute;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
        box-sizing: content-box;
        -moz-box-sizing: content-box;
        background: white;
        border-width: 2px;
        border-style: solid;
        display: none;
        background-clip: padding-box;
}
.rickshaw_graph .detail .dot.active {
        display: block;
}
